<h1>Admin Dashboard</h1>
<a href="/admin/register">Register New Product</a>
<ul>
    <% products.forEach(product => { %>
        <li><%= product.name %> - <%= product.category %> - $<%= product.price %></li>
    <% }) %>
</ul>
