<h1>Register Product</h1>
<form action="/admin/add" method="POST">
    <input type="text" name="name" placeholder="Product Name" required>
    <input type="text" name="id" placeholder="Product ID" required>
    <input type="number" name="price" placeholder="Price" required>
    <input type="text" name="category" placeholder="Category" required>
    <input type="date" name="manufacturingDate" required>
    <input type="date" name="expirationDate" required>
    <button type="submit">Add Product</button>
</form>
