body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #28929e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #90a62f;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1px;
    color: #333;
}

input,
select,
button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
}

#emiResult {
    font-size: 18px;
    color: #333;
}

#advice {
    font-size: 18px;
    font-weight: bold;
}

.advice-green {
    color: green;
}

.advice-red {
    color: red;
}
